body,
p,
h1,
div {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 130%;
    color: #ffffff;
}

html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background: black;
    background-image: url('images/coffin.svg'), url('images/leftcircle.svg'),
        url('images/rightcircle.svg');
    background-repeat: no-repeat;
    background-position: left bottom, left top, right bottom;
}

.window {
    height: 100%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    max-width: 550px;
    max-height: 350;
}

.text > * {
    padding-bottom: 36px;
}

.h1 {
    font-size: 50px;
    line-height: 59px;
    margin: 0;
}

.p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding: 0;
}

.button {
    background: #00cffd;
    box-shadow: 0px 10px 20px rgba(0, 207, 253, 0.3);
    border-radius: 20px;
    border: 0;
    font-weight: bold;
    padding: 10px 16px;
    width: 320px;
}

.window2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    /* max-width: 634px;
    max-height: 450px; */

    background: linear-gradient(
        119.99deg,
        rgba(1, 150, 183, 0.7) -25.12%,
        rgba(0, 207, 253, 0) 129.92%
    );
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 30px;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    visibility: hidden;
}
.textblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.input > * {
    border: 1.5px solid #00cffd;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(47, 181, 252, 0.5);
    border-radius: 22px;

    margin-bottom: 20px;
}

.input :last-child {
    margin-bottom: 0;
}

input[type='text'] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    width: 350px;
    height: 44px;
    padding-left: 10px;
}

input[type='text']:focus {
    outline: none;
    box-sizing: border-content;
    box-shadow: 0px 0px 10px rgba(0, 207, 253, 1);
    border-radius: 20px;
}

.button2 {
    background: #219ebc;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    outline: none;
    border: 0;
    font-weight: bold;
    padding: 10px 16px;
    width: 320px;
    height: 43px;
    color: white;
}

.textblock2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.textblock2 > * {
    margin-bottom: 24px;
}

.textblock2 :last-child {
    margin-bottom: 0;
}

.textblock2 h2 {
    font-weight: bold;
    font-size: 30px;
}

.textblock2 p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.button3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #1d9bf0;
    box-shadow: 0px 10px 20px rgba(47, 181, 252, 0.3);
    border-radius: 32px;

    outline: none;
    border: 0;
    font-weight: bold;
    padding: 10px 16px;
    width: 151px;
    height: 38px;
    color: white;
}

.button3 img {
    padding-right: 8px;
}

.window3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;

    background: linear-gradient(
        119.99deg,
        rgba(1, 150, 183, 0.7) -25.12%,
        rgba(0, 207, 253, 0) 129.92%
    );
    border: 0.489852px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    filter: drop-shadow(0px 19.5941px 39.1881px rgba(33, 158, 188, 0.3));
    backdrop-filter: blur(39.1881px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 30px;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    visibility: hidden;
}
